*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 182, 62);
    color: white;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list{
    list-style: none;;
    padding: 0;
}